*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: powderblue;
    padding: 10px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    margin: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    height: 250px;
    background-image: url("https://i.pinimg.com/originals/bf/67/b6/bf67b626fad5bfc1fef1f99820ddaf6c.jpg");
    background-size: cover;
}

section{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: white 1px solid;
    margin-right: 30px;

}
section h2{
    flex: 0 0 25%; 
    text-align: right;
    padding: 10px;
    border-right: #404040 2px solid;
}
section div{
    flex: 0 0 70%
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    border: black 5px solid;
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
}
 

.card2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    border: black 5px solid;
    background-image: url("https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
}

section div div div{
    border: white 10px solid;
    background-color: white;
    padding: 0px;
    
    
}

.card {

}

.card3 ul {
    display: flex;
    justify-content: space-between;
}

.card3 ul li {
    list-style: none;
}

section div div:hover {
    background-color: lightblue;
}